/* general-styles */
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  overflow-x: hidden;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.container {
  width: 1255px;
  margin: 0 auto;
  padding: 0 20px;
}

/* general-styles */

/* header-styles */
.site-header {
  padding: 41px 0 82px 0;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  text-decoration: none;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item {
  margin-left: 40px;
  list-style: none;
}

.active {
  margin-left: 0;
}

.menu-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
}
/* header-styles */

/* main-styles */

/* hero-styles */
.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 715px;
}

.heading {
  font-weight: bold;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 2px;
  color: #ff8a56;
}

.hero-heading {
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 2px;
}

.hero-text {
  width: 547px;
  margin-bottom: 30px;
}

.hero-link-call {
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid;
  background-color: #222222;
  color: #ffffff;
}

.hero-link {
  margin-left: 20px;
  text-decoration: none;
  color: #222222;
}

/* hero-styles */

/* trusted-styles */

.trusted-heading {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.trusted-by {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.trusted-item {
  list-style: none;
}

/* trusted-styles */

/* services-styles */
.services {
  padding: 156px 0 167px;
}

.services-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ff5e69;
}

.services-title-wrapper {
  width: 768px;
  margin: 0 auto;
}

.services-title {
  margin-bottom: 118px;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
}

.services-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.services-img {
  margin-bottom: 40px;
}

.item-text-wrapper {
  width: 267px;
}

.item-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.item-text {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
}

.item-list {
  list-style-type: none;
}

.item-item {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 10px;
}

.item-item::before {
  margin-right: 10px;
  width: 7px;
  height: 7px;
  display: block;
  background-image: url("../images/Rectangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}
/* /services-styles */

/* projects-styles */
.projects {
  position: relative;
  padding-bottom: 305px;
}

.projects__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project__title--wrapper {
  width: 544px;
}

.projects__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #b16cea;
}

.projects__title {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #000000;
}

.projects__link {
  padding: 17px 30px 23px;
  text-decoration: none;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.projects__list {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.projects__item {
  width: 486px;
  background-color: #ffffff;
}

.projects__item + .projects__item {
  margin-left: 24px;
}

.item__img {
  margin-bottom: 33px;
}

.item__content--wrapper {
  margin-left: 32px;
}

.item__text {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #3c46ff;
}

.item__title {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.item__link {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.link__img {
  margin-left: 10px;
}

/* /projects-styles */

/* blogs-styles */
.blog {
  padding: 276px 0 145px 0;
  background-color: #000000;
}

.blog__inner {
  position: relative;
  display: flex;
}

.blog__inner::before {
  position: absolute;
  top: -80px;
  left: calc(50% + 480px);
  width: 54px;
  height: 54px;
  background-image: url("../images/Frame-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.blog__inner::after {
  position: absolute;
  top: -80px;
  left: calc(50% + 540px);
  width: 54px;
  height: 54px;
  background-image: url("../images/Frame-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}
.blog__conntent-wrapper {
  margin-right: 168px;
}

.blog__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffa84b;
}

.blog__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #ffffff;
}

.blog__link {
  color: #ffffff;
}

.blog__link-img {
  margin-left: 10px;
}

.blog__list {
  list-style-type: none;
}

.blog__item {
  width: 692px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.blog__item:nth-child(1) {
  padding-top: 50px;
}

.blog__item + .blog__item {
  padding-top: 62px;
}

.blog__item-span {
  display: inline-block;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.blog__item-title {
  margin-bottom: 39px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
}

.blog__item-link {
  display: inline-block;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.blog__item-img {
  margin-left: 19px;
}
/* /blogs-styles */

/* taht-styles */
.that {
  padding: 156px 0 191px;
}

.that__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 115px;
}

.that__text {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ff5e69;
}

.that__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #000000;
}

.that__long {
  width: 625px;
}

.that-long-text {
  margin-top: 25px;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #666666;
}

.taht__images-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 154px;
}

.that__img + .that__img {
  margin-left: 16px;
}

.that__images {
  display: flex;
  flex-direction: column;
}

.that__images--active {
  margin-left: 16px;
  margin-bottom: 16px;
}

.that__education-work {
  margin-bottom: 61px;
}

.that__education-img {
  margin-right: 421px;
}

.that__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.that__item {
  position: relative;
  padding-top: 32px;
  width: 583px;
  border-bottom: 1px solid #e5e5e5;
}

.that__item:nth-child(2) {
  padding-left: 70px;
}

.that__item:nth-child(4) {
  padding-left: 70px;
}

.that__item:nth-child(6) {
  padding-left: 70px;
}

.that__item:nth-child(1) .that__item-text {
  margin-right: 139px;
}

.that__item:nth-child(2) .that__item-text {
  margin-right: 85px;
}

.that__item:nth-child(3) .that__item-text {
  margin-right: 235px;
}

.that__item:nth-child(4) .that__item-text {
  margin-right: 105px;
}

.that__item:nth-child(5) .that__item-text {
  margin-right: 190px;
}

.that__item:nth-child(6) .that__item-text {
  margin-right: 175px;
}

.that__item:nth-child(2)::before {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 295px);
  width: 50px;
  height: 50px;
  background-image: url("../images/raketa.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.that__item:nth-child(4)::before {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 295px);
  width: 50px;
  height: 50px;
  background-image: url("../images/music.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.that__item:nth-child(6)::before {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 295px);
  width: 50px;
  height: 50px;
  background-image: url("../images/king.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.that__item::after {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% + 265px);
  width: 25px;
  height: 25px;
  background-image: url("../images/strelkan-verx.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.that__item-title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.that__item-content {
  display: flex;
}

.that__item-text {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.that__item-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
/* /taht-styles */

/* word-styles */
.word {
  padding-bottom: 160px;
}

.word__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4353ff;
}

.word__title {
  margin-bottom: 85px;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #000000;
}

.word__content {
  position: relative;
  display: flex;
  align-items: center;
}

.word__content::before {
  position: absolute;
  top: calc(50% + 120px);
  left: calc(50% + 520px);
  width: 54px;
  height: 54px;
  background-image: url("../images/comment-page-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.word__content::after {
  position: absolute;
  top: calc(50% + 120px);
  left: calc(50% + 574px);
  width: 54px;
  height: 54px;
  background-image: url("../images/comment-page-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.word__image {
  margin-right: 146px;
}

.word__comment {
  position: relative;
  width: 565px;
}

.word__comment::before {
  position: absolute;
  top: calc(50% - 233px);
  left: calc(50% - 280px);
  width: 45px;
  height: 45px;
  background-image: url("../images/cooment-img.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.word__comment-text {
  margin-bottom: 109px;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
}

.word__comment-name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.word__comment-address {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
/* /word-styles */

/* faq-styles */
.faq {
  padding: 78px 0 72px;
  background-color: #000000;
}

.faq__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #ff8a56;
}

.faq__title {
  margin-bottom: 120px;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.faq__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.faq__item {
  position: relative;
  width: 580px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.3);
}

.faq__item::after {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% + 260px);
  width: 24px;
  height: 24px;
  background-image: url("../images/faq-img.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.faq__item-text {
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: #ffffff;
}

/* /faq-styles */
/* main-styles */

/* site-footer-styles */
.site-footer {
  padding: 178px 0 20px;
  background-color: #000000;
}

.site-footer__title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #ffffff;
}

.site-footer__text {
  margin-bottom: 95px;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 0.5px;
  color: #3c46ff;
}

.site-footer__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 141px;
}

.email {
  margin-right: 405px;
}

.logo {
  display: block;
  margin-bottom: 18px;
  text-decoration: none;
}

.site-footer__email-text {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
}

.email__img {
  margin-right: 7px;
}

.email__text {
  display: inline-block;
  font-weight: 400;
  font-size: 17px;
  line-height: 36px;
  color: #5c5c5c;
}

.site-footer__list {
  list-style-type: none;
}

.site-footer__list + .site-footer__list {
  margin-left: 123px;
}

.site-footer__item {
  display: flex;
  align-items: center;
}

.site-footer__item + .site-footer__item {
  margin-top: 40px;
}

.site-footer__item-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.site-footer__information {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #8a95ad;
}

/* /site-footer-styles */
